/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



/* button{
  padding:10px;
  margin:5px;
  background: rgb(180, 126, 198);
  color:white;
  border-radius: 45%;
}
input{
  margin:5%;
  
}
div{
  background-color: rgb(96, 184, 184);
} */

/* .Main-body{
  background-color: rgba(17, 17, 17, 0.962);
  height: 100%;
}
input{
  padding: 30px;
  font-size: 20px;
  border-radius: 20px;
  background-color: rgba(57, 99, 155, 0.552);
}
button{
  background-color: rgba(38, 43, 49, 0.734);
  color:aliceblue;
  border-radius: 14px;
  padding:5px;
  width: 45px;
} */



* {
  font-family: monospace;
}
body {
  margin: 0;
  color: #f0f8ff;
  font-size: 15px;
}
header {
  height: 100vh;
  color: white;
  background-color: #2196F3;
  padding: 20px;
}
p {
  color: black;
  font-size: 20px;
}
h1 {
  font-size: 50px;
  color: #2196F3;
}
header h1 {
  color: white;
  margin: 0;
}
li {
  font-size: 20px;
  color: black;
}
.button {
  height: 30px;
  width: 120px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin: 5px;
}
.button:hover {
  color: white;
  background-color: darkblue;
}
th {
  color: black;
  font-size: 20px;
}
td {
  color: black;
  font-size: 20px;
}
main {
  padding: 20px;
}
section {
  height: 100vh;
  border: 1px solid grey;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 10px;
}
label {
  color: black;
}
b {
  color: black;
}
.submit {
  height: 40px;
  width: 140px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}
.submit:hover {
  color: white;
  background-color: blue;
}
input {
  border-radius: 5px;
  border: 1px solid lightgray;
  height: 25px;
  margin-bottom: 10px;
}